.custom-navbar {
  background-color: #5f54ff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 0.7rem 1.5rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.navbar-logo {
  width: 45px;
  height: 45px;
  object-fit: contain;
}

.navbar-brand {
  font-weight: 900;              /* Extra bold */
  font-size: 2rem;               /* Bigger size */
  color: #17606d;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.navbar-brand span {
  margin-left: 13px;
}

.navbar-brand:hover {
  color: #14528c;
}

.navbar-username-group {
  display: flex;
  align-items: center;
  gap: 1rem;
  white-space: nowrap;          /* Forces single line */
}

.navbar-username {
  font-weight: 800;
  color: #9ca7e6;
  font-size: 1.5rem;
  margin-bottom: 0;         /* Prevent wrap */
}

.logout-btn {
  background: linear-gradient(45deg, #303faf, #3a0ddd);
  border: none;
  color: white;
  padding: 6px 16px;
  border-radius: 8px;
  font-weight: 500;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background 0.3s ease;
  .logout-container {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 1000;
  }
}

.logout-btn:hover {
  background: linear-gradient(45deg, #261799, #110131);
}
